<!-- HEADER MOBILE -->
<header th:fragment="header-mobile" class="header-mobile d-block d-lg-none" xmlns:th="http://www.thymeleaf.org">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" th:href="@{/admin}">
                    <img th:src="@{/images/icon/logo.png}" alt="Admin Dashboard" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li><a th:href="@{/admin}"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li><a th:href="@{/admin/wahana}"><i class="fas fa-gamepad"></i>Kelola Wahana</a></li>
                <li><a th:href="@{/admin/history}"><i class="fas fa-history"></i>Riwayat Penjualan</a></li>
                <li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
