<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org">
    <title>Riwayat Pemesanan Tiket</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Riwayat Pemesanan Tiket</h1>
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Wahana</th>
                    <th>Jumlah Tiket</th>
                    <th>Total Harga</th>
                    <th>Tanggal</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${riwayat}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.wahana.namaWahana}"></td>
                    <td th:text="${p.jumlahTiket}"></td>
                    <td th:text="${'Rp ' + #numbers.formatDecimal(p.totalHarga, 0, 'COMMA', 0, 'POINT')}"></td>
                    <td th:text="${#temporals.format(p.tanggalPemesanan, 'dd MMM yyyy HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/user/dashboard" class="btn btn-secondary">Kembali</a>
    </div>
</body>
</html>