<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="User Dashboard">
    <meta name="author" content="Your Company">
    <meta name="keywords" content="dashboard, user">
    <title>User Dashboard</title>

    <!-- CSS -->
    <link href="/css/font-face.css" rel="stylesheet">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="/vendor/wow/animate.css" rel="stylesheet">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet">
    <link href="/vendor/slick/slick.css" rel="stylesheet">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER DESKTOP -->
    <div th:replace="layout_user/header :: userHeader"></div>
    <!-- END HEADER DESKTOP -->

    <!-- PAGE CONTENT -->
    <div class="page-content--bgf7">
        <!-- BREADCRUMB -->
        <section class="au-breadcrumb2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active"><a href="#">Home</a></li>
                                    <li class="list-inline-item seprate"><span>/</span></li>
                                    <li class="list-inline-item">Dashboard</li>
                                </ul>
                            </div>
                            <form class="au-form-icon--sm" action="#" method="post">
                                <input class="au-input--w300 au-input--style2" type="text" placeholder="Search for attractions...">
                                <button class="au-btn--submit2" type="submit"><i class="zmdi zmdi-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- WELCOME -->
        <div th:replace="layout_user/welcome :: userWelcome"></div>
        <!-- END WELCOME -->

        <!-- POPULAR TICKETS -->
        <section class="statistic-chart">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12 text-center">
                        <h3 class="section-title">Tiket Murah Meriah</h3>
                    </div>
                </div>
                <div class="row">
                    <div th:each="wahana : ${wahanaList}" class="col-md-6 col-lg-4 mb-4">
                        <div class="card shadow-sm border-0">
                            <img th:src="@{'/images/wahana/' + ${wahana.gambar}}" class="card-img-top" th:alt="${wahana.namaWahana}" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${wahana.namaWahana}">Nama Wahana</h5>
                                <p class="card-text text-muted" th:text="${wahana.kategori}">Kategori</p>
                                <p class="card-text">
                                    <strong th:text="'Rp ' + ${#numbers.formatDecimal(wahana.harga, 0, 'COMMA', 0, 'POINT')}">Rp 0</strong>
                                </p>
                                <a th:href="@{'/user/tiket/detail/' + ${wahana.id}}" class="btn btn-primary btn-sm">Lihat Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- COPYRIGHT -->
        <div th:replace="layout_user/footer :: userFooter"></div>
        

    </div>
</div>

<!-- JS -->
<script src="/vendor/jquery-3.2.1.min.js"></script>
<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script src="/vendor/slick/slick.min.js"></script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/animsition/animsition.min.js"></script>
<script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/vendor/select2/select2.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
